<ul class="nav-bar-items">
  {{#each primaryItems}}
    <li {{#if active}}class="active"{{/if}}>
    	<a href="#{{path}}">
    		<div class="icon icon-{{icon}}"></div>
    		{{name}}
    	</a>
    </li>
  {{/each}}
</ul>

{{!-- <ul class="nav navbar-nav navbar-right">
  {{#each secondaryItems}}
    <li {{#if active}}class="active"{{/if}}><a href="#{{path}}">{{name}}</a></li>
  {{/each}}
</ul> --}}
