<div class="content-header content-header-bg-2">

  <div class="content-header-title">
    Mon profil
  </div>
  <div class="content-header-pic">
    <div class="profile-picture profile-picture-big" style="background-image: url({{img}})"></div>
  </div>
  <div class="content-header-absolute-right">
    <i class="icon icon-edit"></i>
  </div>
  
</div>

<div class="content-body">

  <div class="content-body-bar content-body-bar-small">
    <div class="bar-center">
      <b>{{age}} ans</b> | {{experience}} ans d'experience | <b>{{position}}</b>
    </div>
  </div>

  <div class="timeline">

    <div class="timeline-item">
      <div class="timeline-item-title">
        Spécialités
      </div>
      <div class="timeline-item-content">
        {{specialities}}
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-item-title">
        Informations personnelles
      </div>
      <div class="timeline-item-content">
        <div class="item-info">
          Naissance: {{birthDate}}
        </div>
        <div class="item-info">
          Adresse: {{address}}
        </div>
        <div class="item-info">
          Tél: {{telephone}}
        </div>
        <div class="item-info">
          Email: {{email}}
        </div>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-item-title">
        Connexions de la semaine
      </div>
      <div class="timeline-item-content">
        <div class="profile-picture profile-picture-small" style="background-image: url(/assets/images/users/f4.jpg)"></div>
        <div class="profile-picture profile-picture-small" style="background-image: url(/assets/images/users/h7.jpg)"></div>
        <div class="profile-picture profile-picture-small" style="background-image: url(/assets/images/users/f6.jpg)"></div>
      </div>
    </div>
    
    <div class="timeline-item">
      <div class="timeline-item-title">
        Description
      </div>
      <div class="timeline-item-content">
        {{description}}
      </div>
    </div>

  </div>

</div>
